.transactions-history {
    max-width: 600px;
    width: 90%;
    margin: 0 auto 10% auto;
    border-collapse: collapse;
    text-align: center;
}

.transactions-history>thead {
    background-color: rgb(30, 191, 191);
    height: 50px;
    font-size: 20px;
    color: white;
}

.transactions-history>tbody>tr {
    height: 30px;
    font-size: 16px;
}

.tr1 {
    background-color: rgb(232, 224, 224);
}

.tr2 {
    background-color: rgb(167, 166, 166);
}

th,
td {
    max-width: 150px;
    padding: 10px;
    border: 1px solid #2a2a2a;
}